* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  text-align: center;
}

h1 {
  padding: 1em 0;
  font-size: 25px;
}

p {
  text-align: right;
  padding: 5px 15px;
  font-size: 30px;
  word-wrap: break-word;
}

.converter {
  position: relative;
  background-color: #fd916a;
  width: 320px;
  margin: -0.3em auto;
  border-radius: 1em;
}

.converter .select {
  width: 100%;
  text-align: right;
}

.converter select {
  color: white;
  background-color: #fd916a;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-right: 0.5em;
  margin-top: 0.2em;
}

.converter select:focus {
  outline: none;
}

.first-col {
  height: 100px;
  overflow: auto;
}

.second-col {
  height: 70px;
  overflow: auto;
}

.third-col {
  text-align: center;
  margin: 1em auto;
  padding-bottom: 1em;
}

.third-col #clear {
  background-color: #878a8b;
  color: white;
}

.third-col #clear:hover {
  background-color: #909296;
}

.third-col #convert {
  background-color: #0563f0;
  color: white;
}

.third-col #convert:hover {
  background-color: #0d6efd;
}

button {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin: 3px 10px;
  font-weight: bold;
  text-align: center;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 440px) {
  .converter {
    width: 330px;
    margin: -1.5em auto;
  }
  h1 {
    padding-top: 1em;
    font-size: 28px;
    margin-bottom: 0.7em;
  }
}
